/* Hide mobile menu at start */
.mobile-menu {
    display: none;
}

/* Show when open class added */
.mobile-menu.open {
    display: block;
}

/* Small phones fix */
@media (max-width: 390px) {
    h1 {
        font-size: 28px !important;
    }
}